<div>
    <form method="POST" action="">

        <fieldset>
            <legend>
                Join Today
            </legend>
            <div class="form-group">
                {{ signupform.username.label(class="form-control-label") }} {{ signupform.username(class="form-control form-control-lg is-invalid") }}
            </div>
            <div>
                {{signupform.firstname.label(class="form-control-label")}} {{signupform.firstname(class="form-control form-control-lg is-invalid")}}
            </div>
            <div>
                {{signupform.secondname.label(class="form-control-label")}} {{signupform.secondname(class="form-control form-control-lg is-invalid")}}
            </div>
            <div>
                {{signupform.email.label(class="form-control-label")}} {{signupform.email(class="form-control form-control-lg is-invalid")}}
            </div>
            <div>
                {{signupform.password.label(class="form-control-label")}} {{signupform.password(class="form-control form-control-lg is-invalid")}}
            </div>
            <div>
                {{signupform.confirm_password.label(class="form-control-label")}} {{signupform.confirm_password(class="form-control form-control-lg is-invalid")}}
            </div>
            <div>
                {{signupform.phone.label(class="form-control-label")}} {{signupform.phone(class="form-control form-control-lg is-invalid")}}
            </div>
            <div>
                {{signupform.role.label(class="form-control-label")}} {{signupform.role(class="form-control form-control-lg is-invalid")}}
            </div>
            <div>
                {{signupform.submit.label(class="form-control-label")}} {{signupform.submit(class="btn btn-outline-info")}}
            </div>
        </fieldset>
    </form>
</div>