<!DOCTYPE html>
<html>


<head>
    <title>Technical Skills</title>
    <link href="{{ url_for('static', filename='styles/style.css' ) }}" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class='container'>
        <div class='containerheader'>

            <div class="flex-item"><a id='uderemove' href='/home'>Home</a></div>
            <div class="flex-item"><a id='uderemove' href='/aboutme'>About Me</a></div>

            <div class="flex-item"><a id='uderemove' href='/projects'>Projects</a></div>
            <div class="flex-item"><a id='uderemove' href='/experince'>Experience</a></div>
            <div class="flex-item"><a id='uderemove' href='/courses'>Courses</a></div>
            <div class="flex-item"><a id='uderemove' href='techicalskills'>Technical Skills</a></div>
            <div class="flex-item"><a id='uderemove' href='contact'>Contact</a></div>


        </div>
        <div class='center' style="background-color: honeydew; margin-top: 50px;">
            <h1>Skills Expertisse</h1>
        </div>
        <div class='containerrow'>
            <div class='skillsheader' style="background-color:whitesmoke;">
                <h4>Programming</h4>
                <div class="containerrow ml20px">
                    <div>
                        <ul>
                            <li class="ml10px mt10px">Python</li>
                            <li class="ml10px mt10px">R</li>
                            <li class="ml10px mt10px">JAVA</li>
                        </ul>
                    </div>

                    <div class="marginauto">
                        <ul>
                            <li class="ml10px mt10px">HTML</li>
                            <li class="ml10px mt10px">CSS</li>
                            <li class="ml10px mt10px">Unix</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='skillsheader' style="background-color:aliceblue;">
                <h4>Big Data Technologies and Databases</h4>
                <div class="containerrow ml20px">
                    <div>
                        <ul>
                            <li class="ml10px mt10px">Hadoop</li>
                            <li class="ml10px mt10px">Spark</li>
                            <li class="ml10px mt10px">MapReduce</li>
                        </ul>
                    </div>

                    <div class="marginauto">
                        <ul>
                            <li class="ml10px mt10px">MYSQL</li>
                            <li class="ml10px mt10px">NOSQL(MongoDB)</li>
                            <li class="ml10px mt10px">Kafka</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class='skillsheader' style="background-color: cornsilk;">
                <h4>Libraries</h4>
                <div class="containerrow ml20px">
                    <div>
                        <ul>
                            <li class="ml10px mt10px">NumPy</li>
                            <li class="ml10px mt10px">Pandas</li>
                            <li class="ml10px mt10px">NLKT</li>
                        </ul>
                    </div>

                    <div class="marginauto">
                        <ul>
                            <li class="ml10px mt10px">Matplotlib</li>
                            <li class="ml10px mt10px">SciPy</li>
                            <li class="ml10px mt10px">Plotly</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='skillsheader' style="background-color: antiquewhite;">
                <h4>Frameworks</h4>
                <div class="containerrow ml20px">
                    <div>
                        <ul>
                            <li class="ml10px mt10px">Keras</li>
                            <li class="ml10px mt10px">TensorFLow</li>
                            <li class="ml10px mt10px">Sci-Kit Learn</li>
                        </ul>
                    </div>

                    <div class="marginauto">
                        <ul>
                            <li class="ml10px mt10px">PyTorch</li>
                            <li class="ml10px mt10px">Angular</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='skillsheader' style="background-color: snow;">
                <h4>Analytical Techniques</h4>
                <div class="containerrow ml20px">
                    <div>
                        <ul>
                            <li class="ml10px mt10px">Regression</li>
                            <li class="ml10px mt10px">Classification</li>
                            <li class="ml10px mt10px">Data Mining</li>
                        </ul>
                    </div>

                    <div class="marginauto">
                        <ul>
                            <li class="ml10px">Neural Networks</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class='skillsheader' style="background-color: seashell;">
                <h4>Functional Skillss</h4>
                <div class="containerrow ml20px">
                    <div>
                        <ul>
                            <li class="ml10px mt10px">Jupyter Notebook</li>
                            <li class="ml10px mt10px">MS Excel</li>
                            <li class="ml10px mt10px">Tableau</li>
                        </ul>
                    </div>

                    <div class="marginauto">
                        <ul>
                            <li class="ml10px mt10px">Eclipse</li>
                            <li class="ml10px mt10px">Git</li>
                            <li class="ml10px mt10px">Docker</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='skillsheader' style="background-color: lightyellow;">
                <h4>Tools</h4>
                <div class="containerrow ml20px">
                    <div>
                        <ul>
                            <li class="ml10px mt10px">Data Analysis</li>
                            <li class="ml10px mt10px">Data Ingestion</li>
                            <li class="ml10px mt10px">Data Mining</li>
                        </ul>
                    </div>

                    <div class="marginauto">
                        <ul>
                            <li class="ml10px mt10px">Data Modeling</li>
                            <li class="ml10px mt10px">Data Visualization</li>
                            <li class="ml10px mt10px">Machine Learning</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="width: 100%; text-align: center;">
        <a href="{{ url_for('static', filename='Saidarao Chirumamilla.docx' ) }}"><button  class="button button1">Download Resume</button></a>
    </div>
</body>

</html>